.Others {
    margin-top: 20px;
}

.OrLiner {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.OrText {
    font-size: 1.2rem;
}

.LineLeft {
    margin-right: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #efefef;
    height: 1px;
}

.LineRight {
    margin-left: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #efefef;
    height: 1px;
}

.ForgetPassword {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.FaceBookLogin {
    text-align: center;
    margin-top: 4rem;
    color: #385185;
    font-weight: bold;
    font-size: 1.3rem;
}