.FeedHeader {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FeedHeaderProfile {
    display: flex;
    align-items: center;
}

.FeedHeaderMenu {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}