.FeedDescriptionPart {
    display: flex;
    margin-top: 1rem;
}

.FeedDescriptionName {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.FeedDescription {
    margin-left: 1rem;
    font-size: 1.5rem;
}