.LoginForm {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

.LoginSignupSwitchNotice {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.SingupSuccessNotice {
    text-align: center;
    margin-top: 1.2rem;
    color: blue;
    font-size: 1.2rem;
}


