.FeedHeader {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__Profile{
        display: flex;
        align-items: center;
    }

    &__Menu {
        height: 1.3rem;
        width: 1.3rem;
        margin-right: 1rem;
    }

    &__MenuBtn {
        background: none;
        border: none;   
        display: flex;
        justify-content: center;
        height: 3rem;
    }

    &__MenuBtn:active,
    &__MenuBtn:focus {
        outline:none;
    }

    &__MenuBtn:hover {
        cursor: pointer;
    }
}
